<div class="welcome-container">
    <div class="welcome-container__logo"></div>

    <section class="welcome-container__baixo">
        <div class="welcome-container__baixo__titulo">
            <h1>Guiado por quem vive isso</h1>
        </div>

        <section class="welcome-container__baixo__actions">
            <button (click)="navigateToRegistrar()" class="welcome-container__baixo__actions__button">Começar</button>

            <p>Já tem uma conta? <span (click)="navigateToLogin()" class="welcome-container__baixo__actions__login-link">Login</span></p>
        </section>

    </section>
</div>
