<div class="welcome-container">
    <button type="button" class="welcome-container__explorar" (click)="navigateToBuscar()">Só dar uma olhada <i class="bi bi-arrow-right" aria-hidden="true"></i></button>
    <div class="welcome-container__logo"></div>

    <section class="welcome-container__baixo">
        <div class="welcome-container__baixo__titulo">
            <h1>Guiado por quem vive isso</h1>
        </div>

        <section class="welcome-container__baixo__actions">
            <button (click)="navigateToRegistrar()" class="welcome-container__baixo__actions__button">Começar</button>

            <p>Já tem uma conta? <button type="button" (click)="navigateToLogin()" class="welcome-container__baixo__actions__login-link">Entrar</button></p>
        </section>

    </section>
</div>
