<div class="main-pages" [class.main-pages--com-nav]="facade.showBottomNav() && !facade.semConexao()" [class.main-pages--menu-aberto]="layout.menuAberto()">
  @if (!facade.semConexao()) {
    <router-outlet/>
  }
</div>

@if (facade.semConexao()) {
  <div class="main-camada">
    <app-sem-conexao/>
  </div>
} @else if (facade.loading()) {
  <div class="main-camada">
    <app-loading/>
  </div>
}

<app-aviso/>
<app-confirmacao/>

<app-botao-nav *ngIf="facade.showBottomNav() && !facade.loading() && !facade.semConexao()"/>
