<div class="login-container">
    <div class="login-container__logo"></div>
    
    <section class="login-container__baixo">
        <div class="login-container__baixo__titulo">
            <h1>Guiado por quem vive isso</h1>
        </div>

        <section class="login-container__baixo__actions">
            <button (click)="navigateToHome()" class="login-container__baixo__actions__button">Começar</button>
            
            <p>Já tem uma conta? <span (click)="navigateToLogin()" class="login-container__baixo__actions__login-link">Login</span></p>
        </section>

    </section>
</div>
