<div class="login-container">
    <div class="login-container__logo"></div>

    <div class="login-container__form">
        <h1 class="login-container__titulo">Bem-vindo de volta!</h1>
        <p>Faça login para continuar</p>
        <div class="login-container__alerta-erro" *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
        <form (ngSubmit)="login()">
            <input type="text" placeholder="Email" [(ngModel)]="credentials.email" name="email" required>
            <input type="password" placeholder="Senha" [(ngModel)]="credentials.password" name="password" required>
            <button class="mt-1 btn-primary" type="submit" [disabled]="isLoggingIn">
              {{isLoggingIn ? 'Entrando...' : 'Entrar'}}
            </button>
        </form>
        <p class="mt-1">Ainda não tem conta? <span class="login-container__link" (click)="navigateToRegistrar()">Criar conta</span></p>
    </div>
</div>
